	/*font*/
	@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
margin: 0;
padding: 0;
font-family: Poppins;

}
h1{
	color: #ff6d39;
	font-weight: bold;
	font-size: 22px;
	margin-top: 21px;
	display: inline-block;
}
i.fa.fa-search
{
margin-left: 90px;
}
.Product-name i{
	color: #ffffff;
	transition: 0.3s all ease;
	margin: 0px 12px;
}

.Product-name i:hover {
color: #ff6d39;
	cursor: pointer;
	}

h3{
	color: #ffffff;
	margin-top: 84px;
	font-weight: 500;
	font-size: 20px;
}
h2{
color: #ffffff;
	margin-top: 10px;
	font-weight: 800;
	font-size: 29px;	

}
h4{ 
     display: inline-block;
     color: #ffffff;
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;	

}
h4.dis {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	font-size: 17px;
	margin-left: 30px;
	text-decoration: line-through #ea3201;
}

h4.dis span {
	text-decoration: line-through #ea3201;
}
ul {
list-style-type: none;

}
li{
	display: inline-block;
	margin-right: 25px;
}
ul li{
	color: #ffffff;
	margin-top: 20px;
	font-weight: 500;
	font-size: 11px;
}
.bg{
	width: 15px;
	height: 15px;
	text-align: center;
	padding: 2px;
	margin-right: 20px;transition: 0.3s all ease;
	border-radius: 50%;

}
.bg:hover{
	background-color: #ff6d39;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.yellow{
	content: "";
	width: 13px;
	height: 13px;
background-color: #fec60f;
border-radius: 50%;
border: 2px solid rgba(0, 0, 0, 0);
transition: 0.3s all ease;

}

.black{
	content: "";
	width: 13px;
	height: 13px;
background-color: #000000;
border-radius: 50%;
border: 2px solid rgba(0, 0, 0, 0);
transition: 0.3s all ease;

}

.blue{
	content: "";
	width: 13px;
	height: 13px;
background-color: #02a2ca;
border-radius: 50%;
border: 2px solid rgba(0, 0, 0, 0);
transition: 0.3s all ease;

}
.yellow:hover,
.black:hover,
.blue:hover{
	width: 13px;
	height: 13px;
border-radius: 50%;
border: 2px solid #f76b39;
cursor: pointer;

}
.foot{
	color: #ffffff;
	margin-top: 20px;
	margin-right: 50px;
	font-weight: 500;
	font-size: 11px;
	float: left;
	transition: 0.3s all ease;

}
.foot i:nth-child(1)
{
	margin-left: 0;
	margin-right: 15px;
}
.foot:hover{
	color: #ff6b39;
	cursor: pointer;
}

.left i{
color: #ffd5c6;
margin-top: 260px;
transition: 0.3s all ease;
}

.left i:hover{
color: #2a2f40;
cursor: pointer;
	}
.fa-long-arrow-left{
	margin-left: -275px;
}
.fa-long-arrow-right{
	margin-left: 15px;
}
/*main Card*/

.card{
	display: flex;
	align-items: center;
	background: #252831 url(bg.png)no-repeat;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 15px 15px 10px rgba(0, 0, 0, 0.4);
    margin-top: 2%;


}
.left{
	content: "";
	height: 395px;
	width: 330px;
	display:flex;
	align-items: center;
	background-color: #ff6d39;
	margin-left: 93px;
	border-radius: 0% 50% 50% 0%;
	position: absolute;
	z-index: 5;

}
.left img{
	margin-left: -108px;
	margin-top: 60px;
	transition: all .3s ease-in-out;
}
.left img:hover{
	transform: scale(1.1);
}
.right{
	content: "";
	width: 550px;
	height: 395px;
	background-color: #2a2f40;
	z-index: 3;
	margin-left: 200px;
}
.Product-info{
	position: absolute;
	margin-left: 245px;
	height: 394px;
	width: 305px;z-index: 10;
}

